<!doctype html>

<html>
  <head>
    <title>{{title}} | Placetobe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="vDOZocDtfEODqoG-h5fKnwx295VUlAIr3oi2AHao7hc" />
    <link rel="icon" href="/images/favicon.ico">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <!-- See https://goo.gl/qRE0vM -->
    <meta name="theme-color" content="#0A323C">

    <!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Placetobe">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Placetobe">

    <!-- Homescreen icons -->
    <link rel="apple-touch-icon" href="/images/manifest/icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/manifest/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/images/manifest/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/manifest/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/manifest/icon-192x192.png">

    <!-- Tile icon for Windows 8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/manifest/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#0A323C">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- meta description -->
    <meta name="description" content="{{description}}">

    <!-- facebook / open graph -->
    <meta property="og:title" content="{{title}} | Placetobe">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{imageUrl}}">
    <meta property="og:url" content="{{pageUrl}}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@placetobenl">
    <meta name="twitter:title" content="{{title}} | Placetobe">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{imageUrl}}">

    <!-- google plus -->
    <link href="https://plus.google.com/104353038975812076451" rel="publisher">

    <script>
      // Setup Polymer options
      window.Polymer = {
        useNativeCSSProperties: true,
        lazyRegister: true,
        dom: 'shadow'
      };

      // Load webcomponentsjs polyfill if browser does not support native Web Components
      (function() {
        'use strict';

        var onload = function() {
          // For native Imports, manually fire WebComponentsReady so user code
          // can use the same code path for native and polyfill'd imports.
          if (!window.HTMLImports) {
            document.dispatchEvent(
              new CustomEvent('WebComponentsReady', {bubbles: true})
            );
          }
        };

        var webComponentsSupported = (
          'registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')
        );

        if (!webComponentsSupported) {
          var script = document.createElement('script');
          script.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
          script.onload = onload;
          document.head.appendChild(script);
        } else {
          onload();
        }
      })();

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }

    </script>

    <link rel="import" href="/src/placetobe-app/placetobe-app.html" async>
    
    <style type="text/css">
      html, body {
        margin: 0;
      }
    </style>

    <script>
      //facebook pixel
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1229478170447130');
      fbq('track', "PageView");
    </script>

    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1229478170447130&ev=PageView&noscript=1"
    /></noscript>

    </head>
  <body>

    <placetobe-app
      analytics-tracking-id="UA-86279932-1"
      api-endpoint="https://api.crowdaboutnow.nl/"
    ></placetobe-app>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Placetobe",
      "alternateName": "Placetobe vastgoed crowdfunding",
      "url": "https://placetobe.nl"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "https://placetobe.nl/",
            "name": "Home"
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "https://placetobe.nl/start-project",
            "name": "Start een project"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "https://placetobe.nl/start-project/test",
            "name": "Quickscan ondernemers"
          }
        },        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@id": "https://placetobe.nl/tarieven",
            "name": "Tarieven voor ondernemers"
          }
        },
        {
          "@type": "ListItem",
          "position": 5,
          "item": {
            "@id": "https://placetobe.nl/investeren",
            "name": "Investeer"
          }
        },
        {
          "@type": "ListItem",
          "position": 6,
          "item": {
            "@id": "https://placetobe.nl/investeren/test",
            "name": "Quickscan investeerders"
          }
        },
        {
          "@type": "ListItem",
          "position": 7,
          "item": {
            "@id": "https://placetobe.nl/klachtenprocedure",
            "name": "Klachtenprocedure"
          }
        },
        {
          "@type": "ListItem",
          "position": 8,
          "item": {
            "@id": "https://placetobe.nl/algemene-voorwaarden",
            "name": "Algemene voorwaarden"
          }
        }
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://placetobe.nl",
      "logo": "https://placetobe.nl/images/manifest/icon-192x192.png",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+31 (0)30 696 65 23",
        "contactType": "customer service"
      }],
      "sameAs": [
        "https://www.facebook.com/placetobe.investereninvastgoed",
        "https://twitter.com/placetobenl",
        "https://plus.google.com/104353038975812076451"
      ]
    }
    </script>
  </body>
</html>
